<div class="card">
  <img class="card-img-top" src="{{recipe.imgUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{recipe.name}}</h5>
    <p class="card-text">{{recipe.description}}</p>
    <ul class="list-group pb-3">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} - {{ ingredient.amount }}</li>
    </ul>
    <button class="btn btn-block btn-primary dropdown-toggle" style="cursor: pointer;" [appDropdown]="dropDownMenu">
      Manage
    </button>
    <div class="dropdown-menu" #dropDownMenu>
        <a class="dropdown-item" style="cursor: pointer;" (click)="onAddToShoppingList()">Add to shopping list</a>
        <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['edit']" >Edit</a>
        <a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteRecipe()" >Delete</a>
    </div>
  </div>
</div>
